body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f4f4;
  margin: 0;
}

table.table-project-members {
  background-color: #fff;
  border: solid 1px #999;
  border-collapse: collapse;
}

table.table-project-members th {
  text-align: left;
  background-color: #999;
  color: #fff;
}

table.table-project-members th,
table.table-project-members td {
  padding: 8px;
  border: solid 1px #ccc;
  vertical-align: top;
}

table.table-project-members td:nth-child(even) {
  background-color: #f9f9f9;
}

table.table-project-members td ul {
  display: flex;
}

table.table-project-members td ul li {
  list-style: none;
  margin-right: 2px;
}

span.status {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border: solid 2px #ccc;
  margin-right: 5px;
  border-radius: 100%;
}

span.status.active {
  background-color: #27e527;
  border: solid 2px #27e527;
}

.rows__separator {
  display: none;
}

.link_button, .link_button > * {
  text-decoration: none;
  cursor: pointer
}

.link_button:hover > *{
  font-size: .85em;
  cursor: pointer;
}

.link_button:hover .chip-hover{
  background-color: rgba(0, 0, 0, 0.12);
}

.no_decoration {
  text-decoration: none;
}

@media (max-width: 768px) {
  table.table-project-members {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .form__center-text {
    text-align: center;
  }

  .rows__separator {
    display: block;
    margin: 0 auto;
    height: 1px;
    width: 95%;
    background-color: #111823;
    margin-bottom: 5px;
  }
}
