node_modules
coverage

/build
/public/build
.env
Credentials.json
/prisma/data.db
/prisma/data.db-journal

/app/styles/tailwind.css

**/.DS_Store

# Playwright
/playwright/test-results/
/playwirght/playwright-report/
/playwright/blob-report/
/playwright/.cache/
/playwright/.auth

# persist data using Postgres Docker
postgres-db
